/** Large Screen Media Query **/
@media only screen and (min-width: 1200px) {
  /** Enter Query Changes Here **/
  .lg3 {
    width: 25%;
  }

  .lg4 {
    width: 33.33%;
  }

  header img {
    height: 150px;
  }

  nav li {
    margin: auto;
  }

  nav a {
    padding: 0.7rem 1 rem;
  }
}

/** End Media Query **/
